@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
@import url("https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css");

/* Värien määrittely */

:root {
  /* Teemabuttoneissa näkyvät värit  */
  --clr-light-primary:hsl(114, 20%, 32%);
  --clr-light-secondary:#f3f3f3;
  --clr-dark-primary: #1f1f1f;
  --clr-dark-secondary: #4b4298;
  --clr-secret-primary: hsl(244, 24%, 40%);
  --clr-secret-secondary: #d2cbc3;

  --clr-light: #f3f3f3;
  --clr-dark: #363636;
  --clr-primary: var(--clr-light-primary);
  --clr-primary-light: hsl(116, 14%, 57%);
  --clr-secondary: rgb(169, 155, 123);
  --clr-neutral: rgb(110, 110, 110); /* Buttonien, input-kenttien yms. reunat */
  --clr-neutral-light: rgb(233, 233, 233);

  --clr-text: var(--clr-dark);
  --clr-headerlink: var(--clr-primary);
  --clr-header-bg: var(--clr-light);
  --clr-button-bg: var(--clr-primary);
  --clr-button-hover: var(--clr-primary-light);
  --clr-button-hover-text: var(--clr-light);
  --clr-button-text: var(--clr-light);
  --clr-thumb-icon: var(--clr-icon);
  --clr-title: var(--clr-primary);
  --clr-heading: var(--clr-primary);
  --clr-icon: var(--clr-neutral);
  --clr-footertext: var(--clr-light);
  --clr-input-focus: var(--clr-primary);
  --clr-checked: hsl(116, 36%, 84%);
  --clr-link-hover: var(--clr-secondary);
  --clr-score: var(--clr-secondary);

  --clr-bg: var(--clr-light);
  --clr-tags: var(--clr-neutral-light);
  --clr-comment-bg: var(--clr-neutral-light);

  /* Punainen ja vihreä väri virheilmoituksiin yms. yksityiskohtiin */
  --clr-green: rgb(33, 176, 23);
  --clr-red: rgb(195, 0, 0);

  --border-radius: 1.25rem; /* Lomakkeiden, boksien yms. reunat */
  --border-small: .35rem;
  --icon-width: 2rem;
  --text-small: .9rem;
  --text-extra-small: .8rem;
}

/* Värit tummassa teemassa */
.darkTheme {
  --clr-light: #dddddd;
  --clr-dark: #1f1f1f;
  --clr-primary: #662ec6;
  --clr-primary-light: #2b2847;
  --clr-secondary: var(--clr-light);
  --clr-neutral: var(--clr-light); /* Buttonien, input-kenttien yms. reunat */
  --clr-neutral-light: rgb(53, 53, 53);

  --clr-text: var(--clr-light);
  --clr-headerlink: var(--clr-light);
  --clr-header-bg: var(--clr-dark);
  --clr-button-bg: var(--clr-primary);
  --clr-button-hover: var(--clr-light);
  --clr-button-hover-text: var(--clr-dark);
  --clr-button-text: var(--clr-light);
  --clr-thumb-icon: var(--clr-icon);
  --clr-title: var(--clr-light);
  --clr-heading: var(--clr-light);
  --clr-icon: var(--clr-light);
  --clr-footer-bg: var(--clr-dark);
  --clr-footertext: var(--clr-light);
  --clr-input-focus: var(--clr-light);
  --clr-checked: hsl(116, 36%, 84%);
  --clr-link-hover: var(--clr-secondary);
  --clr-bg: var(--clr-dark);
  --clr-tags: var(--clr-primary-light);
  --clr-score: var(--clr-light);
}

.table-header {
  background-color: var(--clr-dark);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/*
.resize-handle {
  display: block;
  position: absolute;
  cursor: col-resize;
  width: 7px;
  right: 0;
  top: 0;
  z-index: 1;
  border-right: 2px solid transparent;
}

.resize-handle:hover {
  border-color: #ccc;
}

.resize-handle.active {
  border-color: #517ea5;
}

 */


table {
  border-collapse: collapse;

}
th,
td {
  border: 1px solid #1f1f1f;
  text-align: left;
  padding: 10px;
  height: 100px;
  font-size: 15px;
  vertical-align: top;
}


th {
  background-color: var(--clr-button-bg);
  color: white;
  border: 1px solid #1f1f1f;
}

td {
  background-color: linen;
}

tr{
  height: 250px;
}
.edit {
  background-color: white;
  border: var(--clr-bg);
}


.darkTheme .button {
  box-shadow: none;
}

.darkTheme .restaurantArticle {
  background: linear-gradient(var(--clr-primary-light), var(--clr-dark));
  box-shadow: none;
}

.darkTheme .thumbsUpButtons button {
  border: 0;
}

.darkTheme .tag {
  border: 1px solid var(--clr-light);
  background-color: transparent;
}

.darkTheme .checked {
  background-color: var(--clr-primary);
  border: 1px solid var(--clr-primary);
  color: var(--clr-light);
}

.darkTheme .main-nav {
  box-shadow: 0 0 2em rgba(0,0,0,.3);
}

.darkTheme a, .darkTheme a:visited,
.darkTheme .main-nav ul .navlink,  .darkTheme .main-nav ul .navlink:visited {
  color: var(--clr-light);
}

.darkTheme a:hover, .darkTheme .main-nav ul .navlink:hover {
  color: var(--clr-light);
}

.darkTheme .button:hover {
  color: var(--clr-button-hover-text);
}

.darkTheme .commentItem {
  color: var(--clr-light);
  background-color: var(--clr-neutral-light);
}

.darkTheme .commentButton {
  background-color: transparent;
  border: 1px solid var(--clr-light);
}

.darkTheme .commentIcon path {
  stroke: var(--clr-light);
}

/* Värit kolmannessa teemassa */
.secretTheme {
  --clr-light: #d2cbc3;
  --clr-dark: #363636;
  --clr-primary: hsl(244, 24%, 40%);
  --clr-primary-light: hsl(244, 22%, 62%);
  --clr-secondary: var(--clr-primary-light);
  --clr-neutral: rgb(110, 110, 110); /* Buttonien, input-kenttien yms. reunat */
  --clr-neutral-light: rgb(233, 233, 233);

  --clr-text: var(--clr-dark);
  --clr-headerlink: var(--clr-dark);
  --clr-header-bg: var(--clr-light);
  --clr-button-bg: var(--clr-primary);
  --clr-button-hover: var(--clr-primary-light);
  --clr-button-hover-text: var(--clr-dark);
  --clr-button-text: var(--clr-light);
  --clr-thumb-icon: var(--clr-icon);
  --clr-title: var(--clr-primary);
  --clr-heading: var(--clr-primary);
  --clr-icon: var(--clr-neutral);
  --clr-footer-bg: var(--clr-dark);
  --clr-footertext: var(--clr-light);
  --clr-input-focus: var(--clr-primary);
  --clr-checked: hsl(116, 36%, 84%);
  --clr-link-hover: var(--clr-secondary);
  --clr-bg: var(--clr-light);
  --clr-tags: var(--clr-light);
  --clr-comment-bg: var(--clr-neutral-light);
  --clr-score: var(--clr-primary);
}

.secretTheme .tag {
  background-color: var(--clr-primary-light);
  color: var(--clr-light);
}

.secretTheme .checked {
  background-color: var(--clr-primary);
  color: var(--clr-light);
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit; /* resetoi h-otsikkojen fontin */
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--clr-text);
  line-height: 1.7;
  background-color: var(--clr-bg);
}

h1, h2, h3 {
  color: var(--clr-heading);
  font-family: 'Rubik', sans-serif;
}

h2, h3 {
  margin-bottom: 1.5rem;
}

/* p:not(:last-child) {
  margin-bottom: 1rem;
} */

.main-layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: var(--clr-text);
  background-color: var(--clr-bg);
}

/* Nav */
.main-nav {
  background-color: var(--clr-header-bg);
  padding: 1em 3rem;
  width: 100vw;
  color: var(--clr-headerlink);
  box-shadow: 0 0 1em rgba(0,0,0,.1);
  position: fixed;
  z-index: 100;
}

.nav-wrapper {
  width: min(100%, 70em);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

/* Otsikko ja hamburger-button */
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Linkit */
.main-nav ul {
  list-style-type: none;
  display: flex;
  padding-bottom: 0;
  gap: .5rem;
  align-items: center;
}

.main-nav li {
  display: inline-block;
}

#addReviewMobile {
  display: block;
  font-size: 3rem;
  font-weight: bold;
  max-height: none;
  padding: 0;
  width: 4rem;
  aspect-ratio: 1 / 1;
  border-radius: 100vmax;
  box-shadow: 0 .15em .25em -.25rem rgb(0 0 0 / .5);
  position: sticky;
  top: 7rem;
  z-index: 50;
}

.mobileMenu {
  display: none;
  padding: .25rem;
  background-color: transparent;
  color: var(--clr-icon);
}

.mobileMenu:hover {
  color: var(--clr-text);
}

.hamburgerButton {
  width: 2.25rem;
  height: 2.25rem;
}

/* Mobiilimenu */
@media (max-width: 62em) {
  .mobileMenu {
    display: inline-block;
  }

  .nav-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-header {
    width: 100%;
  }

  .main-nav ul {
    width: 100%;
    flex-direction: column;
    padding: 1rem 0;
    align-items: flex-start;
  }

  /* Menulinkit tyyliltään samanlaisiksi */
  .main-nav ul .navlink, .main-nav ul .navlink:visited,
  .main-nav ul button, .main-nav ul button:visited {
    /* background-color: transparent;
    max-height: fit-content;
    padding: 0;
    line-height: 2.5;
    box-shadow: none;
    text-align: center;
    margin: 0 auto;
    display: block;
    max-width: fit-content;
    font-weight: 400;
    color: var(--clr-text); */
    color: var(--clr-title);
    font-size: 1.4rem;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    line-height: 1.5;
    margin-left: 0;
  }

  .main-nav ul .navlink:hover, .main-nav ul button:hover {
    color: var(--clr-button-hover);
  }

  /* Ei vaikutusta suuremmilla näytöillä */
  .hideOnMobile {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.container a:not(.button), .container a:visited:not(.button),
.footerlink, .footerlink:visited {
  text-decoration: underline;
}

.container a:hover:not(.button), .footerlink:hover {
  color: var(--clr-link-hover);
  text-decoration: none;
}

/* RaflaReviewer-otsikko */
.title, .title:visited {
  color: var(--clr-title);
  font-size: 1.6rem;
  text-decoration: none;
  font-family: 'Rubik', sans-serif;
}

.title:hover {
  color: var(--clr-title);
}

.main-footer {
  background-color: var(--clr-dark);
  padding: 4em;
  display: grid;
  place-items: center;
  gap: 2rem;
}

footer p {
  font-size: var(--text-small);
}

footer p, .footerlink {
  color: var(--clr-footertext);
}

img, svg {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
}

/* Kaikki buttonit */
button {
  line-height: 0; /* keskittää tekstin pystysuunnassa */
  border: 0;
  cursor: pointer;
}

/* Tekstibuttonit ja "buttonin" näköiset NavLinkit */
.button, .btn-secondary, .btn-primary, .btn-success {
  display: block;
  line-height: 0;
  font-weight: bold;
  padding: 2em 2.5em;
  border-radius: 100vmax;
  max-height: 3rem;
  text-align: center;
  text-decoration: none;
  color: var(--clr-button-text);
  background-color: var(--clr-button-bg);
  box-shadow: 0 1.25em 1em -1em var(--clr-button-bg);
}

.button:hover {
  --clr-button-bg: var(--clr-button-hover);
  color: var(--clr-button-hover-text);
}

.container {
  flex-grow: 1;
  padding: 2rem;
  position: relative;
  width: min(100%, 70em);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 5em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}


.articleButton {
  width: 100%;
  border-radius: var(--border-small);
  flex-grow: 0;
  align-self: flex-end;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem .5rem;
}

/* Pienessä tilassa numero siirtyy tarvittaessa tekstin alle */
.articleButton span {
  display: inline-block;
}

.main-layout h1 {
  font-size: 3rem;
  font-weight: bold;
  font-style: normal;
  margin-bottom: .5rem;
}

h2 {
  font-size: 1.5rem;
}

.center {
  margin: 0 auto;
  text-align: center;
}

/* Uuden arvostelun lisäyslomake */
.popup {
  background-color: var(--clr-bg);
  z-index: 100;
  position: fixed;
  width: min(90%, 30rem);
  border-radius: var(--border-radius);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  display: grid;
  gap: 1em;
  box-shadow: 0 1rem 3rem rgb(0 0 0 / .25), 0 0 0 100vmax rgb(0 0 0 / .75);
}

/* Lomake mobiilissa */
.addNewForm, .editNewForm {
  height: 100vh;
  width: 100vw;
  border-radius: 0;
  overflow-y: scroll;
  display: grid;
  grid-auto-rows: auto auto 1fr auto;
}

.addNewForm form, .editNewForm form {
  display: grid;
  gap: 1rem;
}

.formFields section {
  display: grid;
  gap: .75rem;
}

.formFields {
  display: grid;
  gap: 2rem;
  padding: .15em;
}

.addNewForm form div div:not(.formCheckboxContainer) {
  display: flex;
  align-items: flex-start;
}

form label:not(.formCheckboxContainer label) {
  width: 6rem;
  flex-grow: 0;
  font-weight: bold;
}

.addNewForm h2 {
  margin-bottom: 0;
}

.addNewForm textarea {
  margin-left: .5rem;
}

.required p::after {
  content: '*';
}

.formHeader {
  display: flex;
  justify-content: space-between;
  position: relative;
}

/* x-button */
.closeButton {
  display: inline-block;
  width: var(--icon-width);
  border: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
  cursor: pointer;
  background-color: transparent;
  flex-grow: 0;
}

/* x-icon */
.closeIcon {
  color: var(--clr-icon)
}

.closeButton:hover {
  --clr-icon: var(--clr-dark);
}

.formContainer:last-child {
  align-self: flex-end;
}

/* Lomakkeen input-kentät */
.formInput {
  flex-grow: 1;
  border-radius: .25rem;
  border: 1px solid var(--clr-neutral);
  padding: .25rem .5rem;
}

input, textarea {
  background-color: var(--clr-bg);
  accent-color: var(--clr-primary);
  color: var(--clr-text);
}

input[type="checkbox"]:focus, input[type="checkbox"].selected {
  outline: 0;
}

textarea {
  resize: none;
}

/* Aktiivisten tekstikenttien reunojen väri */
textarea:focus, input:focus {
  outline: 2px solid var(--clr-input-focus);
}

.formCheckboxContainer {
  columns: 2;
  gap: 0;
}

.checkbox {
  margin-bottom: .25rem;
}

.formCheckboxContainer span {
  margin-left: .5rem;
}

.searchContainer {
  display: grid;
}

/* Hakukenttä */
.searchBar {
  width: 25em;
  display: flex;
  flex-direction: row;
  gap: .25rem;
  align-items: center;
}


/* Filter-button */
.filterButton {
  background-color: transparent;
  max-width: 2.25rem;
  max-height: 2.25rem;
  display: grid;
  place-content: center;
  color: var(--clr-icon);
}

.filterButton:hover {
  --clr-icon: var(--clr-text);
}

.filterIcon svg {
  height: 100%;
  width: 100%;
}

.sliderContainer {
  display: flex;
  flex-basis: 100%;
  gap: 3rem;
}

.sliderWrapper {
  width: 100%;
  display: flex;
  gap: .75rem;
  margin: auto;
}

.sliderContainer label {
  min-width: 20%;
}

.slider {
  margin: auto;
  appearance: none;
  width: 100%;
  height: .2rem;
  background: var(--clr-neutral-light);
  outline: none;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  background: var(--clr-primary);
  cursor: pointer;
  height: .75rem;
  width: .75rem;
  border-radius: 100vmax;
}

.slider::-moz-range-thumb {
  background: var(--clr-primary);
  cursor: pointer;
  height: .75rem;
  width: .75rem;
  border-radius: 100vmax;
  border: 0;
}

.sliderValue {
  font-size: var(--text-small);
}

.slider:focus {
  outline: none;
}

.no-results {
  font-size: 1.2rem;
  color: var(--clr-neutral);
  text-align: center;
  padding: 2rem;
}

/* Estää scrollauksen popupin ollessa auki */
.locked {
  overflow-y: hidden;
}

.unclickable {
  opacity: .5;
  pointer-events: none;
}

/* Estää buttonien klikkauksen  */
.locked button:not(.popup button),
.locked a:not(.popup button),
.locked .navlink:not(.popup button),
.locked .footerlink:not(.popup button) {
  pointer-events: none;
}

/* Thumbs up-nappien container*/
.thumbsUpButtons {
  display: flex;
  gap: .5rem;
}

/* Buttonit */
.thumbsUp, .thumbsDown {
  display: flex;
  gap: .25rem;
  height: 3rem;
  width: 5rem;
  cursor: pointer;
  background-color: transparent;
  fill: none;
  border: 1px solid var(--clr-neutral);
  border-radius: .75rem;
  padding: .5rem;
  align-items: center;
  justify-content: center;
}

.thumbsUp > *, .thumbsDown > * {
  display: inline-block;
}

/* Peukkuiconit */
.icon-container {
  color: var(--clr-thumb-icon);
}

.thumbsDown .icon-container {
  rotate: 180deg;
  padding-bottom: .2rem;
}

.thumbsUp p, .thumbsDown p {
  min-width: 3ch;
  text-align: center;
  font-size: var(--text-small);
}

.thumbsUp p {
  color: var(--clr-green);
}

.thumbsDown p {
  color: var(--clr-red);
}

/* Klikattu */
.thumbsUp.clicked > .icon-container > * {
  --clr-thumb-icon: var(--clr-green);
  fill: var(--clr-thumb-icon);
  color: var(--clr-thumb-icon);
}

.thumbsDown.clicked > .icon-container > * {
  --clr-thumb-icon: var(--clr-red);
  fill: var(--clr-thumb-icon);
  color: var(--clr-thumb-icon);
}

.back-icon {
  max-width: 3em;
  color: var(--clr-icon);
}

.back-icon:hover {
  color: var(--clr-text);
}

/* Kommenttikenttä */
.commentForm {
  display: grid;
  gap: .5rem;
  max-width: 40em;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.commentForm label {
  grid-row: 2;
}

.commentForm textarea {
  grid-row: 1;
}

.commentForm button {
  max-width: 10rem;
}

.commentButton {
  width: 1.35em;
  border: 1px solid var(--clr-icon);
  border-radius: var(--border-small);
}

.commentButton:hover {
  background-color: transparent;
  --clr-icon: var(--clr-text);
}

.commentIcon {
  padding: .1em;
  position: relative;
}

.commentIcon path {
  stroke: var(--clr-icon);
}

.username {
  color: var(--clr-secondary);
  font-weight: bold;
  font-size: var(--text-small);
}

.comment__info {
  max-width: 50%;
  display: inline-block;
}

.comment__buttons {
  max-width: calc(50% - .5rem);
  position: absolute;
  right: .5rem;
  bottom: .5rem;
  display: flex;
  gap: .25rem
}

.comment__info > * {
  line-height: 1.5;
}

.comment__date {
  font-size: var(--text-extra-small);
}

/* Arvostelusivujen tagit (ei klikattavia) */
.unclickableTags {
  width: fit-content;
  pointer-events: none;
}

.tag {
  background-color: var(--clr-neutral-light);
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  padding: .25rem 1.5rem;
  border-radius: 100vmax;
}

.tag label {
  cursor: pointer;
}

.tag label input {
  display: none;
}

.checked {
  color: var(--clr-primary);
  background-color: var(--clr-checked);
}

/* Kommenttiboksi */
.commentsContainer {
  display: grid;
  gap: 1rem;
  margin: 0 auto;
  max-width: 40em; /* ? */
}

.commentItem {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: .5rem;
  border-radius: var(--border-small);
  background-color: var(--clr-comment-bg);
  position: relative;
}

/* Arviot articlessa etusivulla */
.restaurantArticle .scoresContainer {
  background-color: transparent;
  padding: .5rem;
  font-size: inherit;
  --clr-score: var(--clr-secondary);
}

.darkTheme .scoresContainer {
  --clr-score: var(--clr-light);
}

.themeButtons {
  display: flex;
  justify-content: space-between;
  gap: .6rem;
  min-height: 1.5rem;
}

.themeButton {
  display: block;
  position: relative;
  min-width: 1.5rem;
  min-height: 1.5rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.themeButton input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.themeButton .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100vmax;
  border: 1px solid #fff;
}

.themeButton .checkmark.light {
  background: linear-gradient(-50deg, var(--clr-light-primary), var(--clr-light-secondary));
}

.themeButton .checkmark.dark {
  background: linear-gradient(-50deg, var(--clr-dark-primary), var(--clr-dark-secondary));
}

.themeButton .checkmark.secret {
  background: linear-gradient(-50deg, var(--clr-secret-primary), var(--clr-secret-secondary));
}

.themeButton input:checked ~ .checkmark {
  box-shadow: 0 0 0 .15rem #fff;
}

/* Piilottaa elementin näkyvistä */
.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hide-border button {
  border: none;
}

/* Pienemmillä näytöillä lomake täyttää koko sivun */
@media only screen and (min-width: 32em) and (min-height: 42em) {

  table{
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  .addNewForm {
    max-width: 30rem;
    max-height: 40em;
    overflow-y: hidden;
    border-radius: var(--border-radius);
  }

  .formFields {
    overflow-y: scroll;
    max-height: 28rem;
    padding-right: 1rem;
  }
}

@media only screen and (min-width: 62em) {
  .searchContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .searchBar {
    grid-column: 2 / 4;
    grid-row: 1;
  }

  #addReviewMobile {
    position: absolute;
    top: -100%;
  }

  #addReview {
    grid-column: 4;
    margin-left: 0;
  }

  .title {
    font-size: 1.75rem;
  }

  .restaurantList {
    grid-template-columns: 1fr 1fr;
  }

  .restaurantArticle {
    max-width: none;
  }

  .searchBar {
    width: 30em;
  }

  .commentForm {
    grid-template-columns: auto 1fr;
    gap: 1rem .5rem;
  }

  .commentForm label {
    grid-row: 1;
    grid-column: 1;
    text-align: right;
  }

  .commentForm textarea {
    grid-row: 1;
    grid-column: 2;
    max-width: none;
  }

  .commentForm button {
    grid-column: 2;
  }

  .tagContainer {
    justify-content: flex-start;
  }

  .commentsContainer {
    max-width: 90%;
    gap: 0;
  }

  .commentItem, .darkTheme .commentItem {
    background-color: transparent;
    flex-direction: row-reverse;
    justify-content: flex-end;
    width: 70%;
    gap: .5rem;
  }

  .comment__buttons {
    bottom: 1rem;
    right: 1rem;
  }

  .commentItem:nth-child(even) {
    flex-direction: row;
    justify-self: flex-end;
  }

  .commentItem:nth-child(even) .comment__buttons {
    bottom: 1rem;
    right: 11.3rem;
    color: red;
  }

  .commentItem .comment__content {
    background-color: var(--clr-neutral-light);
    border-radius: var(--border-small);
    padding: 1em 1em 2em 1em;
    flex-grow: 1;
  }

  .main-nav {
    position: relative;
    padding: 1.5rem 3rem;
    align-items: center;
  }

  .navlink, .navlink:visited {
    display: grid;
    place-content: center;
    min-width: 12rem;
    border-radius: 100vmax;
    line-height: 0;
    font-weight: bold;
    padding: 1.9em 2.5em;
    max-height: 3rem;
    text-align: center;
    text-decoration: none;
    color: var(--clr-primary);
    background-color: var(--clr-bg);
    border: 2px solid var(--clr-headerlink);
  }

  .navlink:hover {
    background-color: var(--clr-primary);
    color: var(--clr-light);
  }

  .navlink.loginButton, .navlink.loginButton:visited {
    background-color: var(--clr-button-bg);
    color: var(--clr-button-text);
  }

  .navlink.loginButton:hover {
    background-color: transparent;
    border: none;
    color: var(--clr-button-bg);
  }

  .navlink.loginButton.loggedIn {
    background-color: transparent;
    border: 0;
    color: var(--clr-button-bg);
  }

  .navlink.loginButton.loggedIn:hover, .darkTheme .navlink.loginButton.loggedIn:hover {
    text-decoration: underline;
    background-color: transparent;
  }

  .darkTheme .navlink.loginButton {
    border: 2px solid var(--clr-button-bg);
    background-color: var(--clr-button-bg);
    color: var(--clr-button-text);
  }

  .darkTheme .navlink.loginButton.loggedIn:hover {
    border: 0;
    color: var(--clr-button-text);
  }

  .darkTheme .main-nav ul .navlink:hover {
    color: var(--clr-dark);
    background-color: var(--clr-light);
    border: 2px solid var(--clr-light);
  }

  .nav-wrapper ul li:first-child {
    margin-right: .5rem;
  }

  .container {
    margin-top: 0;
  }

  .mobileOnly {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
  }
}

@media only screen and (min-width: 80em) {
  .container {
    padding: 2rem 0;
  }

  .restaurantList {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* Kirjauttuminen ja rekistöröityminen*/
.loginButton {
  display: flex;
  align-items: center;
}

.userIcon {
  width: 2rem;
  height: 2rem;
  margin-right: 5px;
}

.loginFields {
  justify-content: center;
  margin: 5px;
}

.userBtn {
  background-color: #ccc;
  line-height: 2;
  width: 200px;
  margin-top: 1vh;
}

.loginFormCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#addNewLogin button {
  margin-left: auto;
  margin-right: auto;
}

#addNewLogin #submitBtn {
  margin-top: 3vh;
}

#addNewLogin {
  height: 45vh;
  width: 100%;
  padding: 2rem;
}

.usernameInput input {
  margin-left: 1vh;
  margin-bottom: 1vh;
}

.passwordInput input {
  margin-left: 4.4vh;
  margin-top: 1vh;
}

#addNewUser {
  height: 45vh;
}

.userFormCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.userFormCont input {
  margin-left: 5vh;

}

.userFormCont label {
  float: left;
  display: block;
  margin-right: 2vh;
}

/* Profiili */
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.user-info {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.avatar-container {
  margin-right: 2rem;
}

.userDefaultAvatar {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
}

.user-details {
  display: flex;
  flex-direction: column;
}

.logoutIcon {
  width: 2rem;
}

.logoutBtn {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
  padding: 5px;
}

.logoutBtn span {
  margin-left: 5px;

}

.logoutBtn:hover{
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
}
